<!DOCTYPE html>
<html>
<head>
    <title>Download Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .container {
          display:flex; /* Use flexbox to arrange elements side by side */
      }

      .div1, .div2,.div3 {
          width: 50%; /* Set the width to 50% to make them equal in size */
          padding: 10px;
          justify-content: center;
          align-items: center;
      }
      .align{
        align-items: center;
        padding-left: 30px;
      }
      .download-btn{
            display: flex;
            justify-content: center; /* Horizontally center the content */
            align-items: center; /* Vertically center the content */
            height: 10vh;  
      }
      .large-button {
            width: 200px; /* Set the desired width for the button */
            height: 40px; /* Set the desired height for the button */
            font-size: 18px;
            margin-left: 10px;  /* Optionally adjust the font size */
        }
  </style>
</head>
<body>
    <h1>Unofficial_text JSON Data of the First Object:</h1>
    <pre><%= cit[2].toString() %></pre>

    <h1>Response of the Unofficial_text JSON Data of the First Object:</h1>
    <pre><%= ResponseFromAi.toString() %></pre>

    <div class="container">
      <div class="div1">
        <h1>Name of Applicants <%= JsonFilename.toString() %> File:</h1>
        <% extractedStrings.forEach(function(item, index) { %>
          <div>
            <%= (index + 1) + '. ' + item.trim().toString() %>
          </div>
        <% }); %>        
      </div>
        <div class="div2">
      <h1>Name Of Judges:</h1>
      <% Judgnames.forEach(function(item,index) { %>
        <div>
          <%= (index + 1) + '. ' + item.trim().toString() %>
        </div>
      <% }); %>
        </div>
        <div class="div3">
          <h1>Year:</h1>
          <% yearOfCase.forEach(function(item) { %>
            <div class="align">
              <%=item.trim().toString() %></div>
          <% }); %>
            </div>

    </div>
    <div class="download-btn">   
       <button id="downloadButton"class="large-button">
      <a href="/download-excel?excelFileName=<%= excelFileName %>" style="color: black; text-decoration: none;">Download Excel
        <i class="fas fa-download"></i>
      </a>
      </button>
    </div>

    <script src="script.js">
    </script>
</body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const downloadLink = document.getElementById("downloadButton");
  
      downloadLink.addEventListener("click", function () {
          // You can replace this alert with a more user-friendly notification
          alert("Your <%= excelFileName%> file is being downloaded... Please check your downloads folder.");
      });
  });
  </script>