<!DOCTYPE html>
<html>

<head>
    <title>Download Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }

        .container {
            display: flex;
        }

        .div11,
        .div5,
        .div4,
        .div6 {
          width: 250%;
          margin-left: 45px;
        }

        .bottomPadding {
            margin-bottom: 10px;
        }

        .align {
            align-items: center;
            padding-left: 30px;
        }

        .download-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }

        .large-button {
            width: 200px;
            height: 40px;
            font-size: 18px;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <h1>Unofficial_text JSON Data of the First Object:</h1>
    <pre><%= cit[0].toString() %></pre>

    <h1>Response of the Unofficial_text JSON Data of the First Object:</h1>
    <pre><%= JSON.stringify(ResponseFromAi, null, 2) %></pre>

    <div class="container">
        <div class="div11">
            <div class="bottomPadding">
                <h1>Name of Applicants of the Case:</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% extractedStrings.forEach(function(item, index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= item.trim().toString() %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class="div5">
            <div class="bottomPadding">
                <h1>Name of Judges:</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% Judgnames.forEach(function(item, index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= item.trim().toString() %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class="div5">
          <div class="bottomPadding">
              <h1>Year of Case:</h1>
          </div>
          <table>
              <thead>
                  <tr>
                      <th>Index</th>
                      <th>Year</th>
                  </tr>
              </thead>
              <tbody>
                  <% yearOfCase.forEach(function(item, index) { %>
                      <tr>
                          <td><%= index + 1 %></td>
                          <td><%= item.trim().toString() %></td>
                      </tr>
                  <% }); %>
              </tbody>
          </table>
      </div>  
      <div class="div5">
        <div class="bottomPadding">
            <h1>Initial Comparison:</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Comparison</th>
                </tr>
            </thead>
            <tbody>
                <% Intials.forEach(function(item, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= item.toString() %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>  
    <div class="div5">
      <div class="bottomPadding">
          <h1>Outcome of case:</h1>
      </div>
      <table>
          <thead>
              <tr>
                  <th>Index</th>
                  <th>Outcome</th>
              </tr>
          </thead>
          <tbody>
              <% outComeOfCase.forEach(function(item, index) { %>
                  <tr>
                      <td><%= index + 1 %></td>
                      <td><%= item.trim().toString() %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
  </div>
  <div class="div5">
    <div class="bottomPadding">
        <h1>Type of Issue:</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Issue</th>
            </tr>
        </thead>
        <tbody>
            <% typeOfIssue.forEach(function(item, index) { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.trim().toString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div class="div5">
    <div class="bottomPadding">
        <h1>Type of TaxPayer:</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <%  typeofTaxPayer.forEach(function(item, index) { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.trim().toString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
  </div>

  <div class="div5">
    <div class="bottomPadding">
        <h1>Duration of case:</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <%  yeartheCasetook.forEach(function(item, index) { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.trim().toString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
  </div>

<div class="div5">
  <div class="bottomPadding">
      <h1>Gender of Appellant:</h1>
  </div>
  <table>
      <thead>
          <tr>
              <th>Index</th>
              <th>Gender</th>
          </tr>
      </thead>
      <tbody>
          <%  GenderofAppellant.forEach(function(item, index) { %>
              <tr>
                  <td><%= index + 1 %></td>
                  <td><%= item.trim().toString() %></td>
              </tr>
          <% }); %>
      </tbody>
  </table>
</div>

<div class="div5">
  <div class="bottomPadding">
      <h1>Gender of Judge:</h1>
  </div>
  <table>
      <thead>
          <tr>
              <th>Index</th>
              <th>Gender</th>
          </tr>
      </thead>
      <tbody>
          <%  GenderofJudge.forEach(function(item, index) { %>
              <tr>
                  <td><%= index + 1 %></td>
                  <td><%= item.trim().toString() %></td>
              </tr>
          <% }); %>
      </tbody>
  </table>
</div>



        <!-- Repeat the same structure for other sections -->
    </div>

    <div class="download-btn">
        <button id="downloadButton" class="large-button">
            <a href="/download-excel?excelFileName=<%= excelFileName %>" style="color: black; text-decoration: none;">Download Excel
                <i class="fas fa-download"></i>
            </a>
        </button>
    </div>

    <script src="script.js"></script>
</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const downloadLink = document.getElementById("downloadButton");

        downloadLink.addEventListener("click", function () {
            alert("Your <%= excelFileName%> file is being downloaded... Please check your downloads folder.");
        });
    });
</script>
